# macOS 시스템 파일
.DS_Store

# node_modules & build 결과물
node_modules/
dist/
build/

# 환경 설정 파일
.env
.env.local
.env.*.local

# Vite 캐시
.vite/
.vitepress/cache/

# 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 에디터 관련
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS별 휴지통
Thumbs.db
ehthumbs.db
Desktop.ini
